body, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#result {
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

td[colspan="7"] {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #e0e0e0;
}

td:active {
    background-color: #ccc;
}